<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="applicationConfiguration" type="Net.Appclusive.WPF.UI.Security.ApplicationConfigurationSection, Net.Appclusive.WPF.UI" allowLocation="true" allowDefinition="Everywhere"	/>
  </configSections>
  <applicationConfiguration defaultDomain="dfch" appclusiveBaseUri="http://appclusive/api" />
</configuration>